
body {
  font-family: Arial, sans-serif;
  background-color: #facaf677;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #efedef;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #7e503a;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
}

div {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 20px;
  border-bottom: 1px solid #0a0009;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
}

h2 {
  font-size: 2rem;
  color: #7e503a;
  margin-bottom: 10px;
  text-align: left;
  font-family: 'Bebas Neue', cursive;
  margin-left: 50px;
  
}



li:hover {
  background-color: #e7bbe1;
}

a {
  color: #333;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}
